<config platform="android" template="android (default)">Created: Mon Jun 15 15:33:40 2015
By: monroe
Using Template: android (default)

&lt;description to go here><option value="" name="android-icon-dir" fromDef="true"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group" fromDef="true"/>
    <option value="" name="android-icon-gallery" fromDef="true"/>
    <option value="" name="android-icon-nonstandard" fromDef="true"/>
    <option value="" name="android-external-res" fromDef="true"/>
    <option value="" name="android-external-assets" fromDef="true"/>
    <option value="1" name="android-install-location" fromDef="true"/>
    <option value="" name="android-pkgname" fromDef="false"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="heyzaptest" name="name" fromDef="true"/>
    <option value="heyzaptest" name="caption" fromDef="true"/>
    <option value="monroe" name="provider" fromDef="true"/>
    <option value="(C) monroe" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="heyzap_manifest.xml" name="android-manifest" fromDef="false"/>
    <option value="" name="android-custom-activity" fromDef="false"/>
    <option value="" name="android-extra-manifest" fromDef="false"/>
    <option value="" name="android-extra-application-manifest" fromDef="false"/>
    <option value="" name="android-supports-gl-texture" fromDef="true"/>
    <option value="0" name="android-target-sdk-version" fromDef="true"/>
    <option value="9" name="android-min-sdk-version" fromDef="false"/>
    <option value="" name="android-unsigned" fromDef="true"/>
    <option value="" name="android-tm" fromDef="true"/>
</config>
